{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
<link rel="shortcut icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-icon.png">
<meta name="google" content="notranslate" />
<meta name="apple-mobile-web-app-title" content="简历">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="x5-page-mode" content="app">
<meta name="renderer" content="webkit">
<meta name="browsermode" content="application">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
